@import '../../commonStyles/commonStyleConstants.less';
.root{
  height: 100%;
  width: 100%
}
.comments{
  width: 96rem/@pTor;
  height: 96rem/@pTor;
  font-size: 12rem/@pTor;
  border: 1px solid #333333;
}